input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: var(--color) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--background) inset !important;
  box-shadow: 0 0 0px 1000px var(--background) inset !important;
  transition: background-color 9999s ease-in-out 0s;
  font-family: monospace !important;
  font-size: 18px;
}
